<a href="https://colab.research.google.com/github/B-analytic/Moringa_Data_Science_Prep_-W4_Independent_Project_2021_02_Brenda_Musembi_Python_Notebook.ipynb/blob/main/Moringa_Data_Science_Prep__W4_Independent_Project_2021_02_Brenda_Musembi_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#importing pandas and numpy libraries
#
import pandas as pd
 
import numpy as np

**1.1.LOADING DATASETS**

In [ ]:
#Loading dataset
#
url="http://bit.ly/autolib_dataset"
df=pd.read_csv(url)

In [ ]:
#previewing data set
df.head(5)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

**2.CLEANING DATASET.**

**2.1.Uniformity**

In [ ]:
#changing date to datetime format
#
df['Date']=pd.to_datetime(df[['month','day','year']])
df

                                 Address  Cars  ...  minute       Date
0                    2 Avenue de Suffren     0  ...      43 2018-04-08
1              145 Rue Raymond Losserand     6  ...      24 2018-04-06
2       2 Avenue John Fitzgerald Kennedy     3  ...      14 2018-04-03
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...      37 2018-04-04
4     6 avenue de la Porte de Champerret     3  ...      23 2018-04-08
...                                  ...   ...  ...     ...        ...
4995                 8 avenue MÃ©nelotte     2  ...      26 2018-04-06
4996                   37 rue de Dantzig     4  ...      56 2018-04-04
4997                      142 rue du Bac     1  ...       1 2018-04-01
4998         2 avenue du Val de Fontenay     2  ...      27 2018-04-04
4999                 5 Rue Henry Brisson     4  ...       2 2018-04-08

[5000 rows x 26 columns]

**2.2.Validity.**

In [ ]:
#dropping irrelevant columns
#
df.drop(["Displayed comment","ID","Geo point","Scheduled at","Charge Slots","Charging Status","year","month","day"],axis=1,inplace=True)
df.head(5)

                              Address  Cars  ...  minute       Date
0                 2 Avenue de Suffren     0  ...      43 2018-04-08
1           145 Rue Raymond Losserand     6  ...      24 2018-04-06
2    2 Avenue John Fitzgerald Kennedy     3  ...      14 2018-04-03
3              51 Rue EugÃ¨ne OudinÃ©     3  ...      37 2018-04-04
4  6 avenue de la Porte de Champerret     3  ...      23 2018-04-08

[5 rows x 17 columns]

In [ ]:
#renaming columns
#
df.columns=df.columns.str.replace(" ","_")
df.head(5)

                              Address  Cars  ...  minute       Date
0                 2 Avenue de Suffren     0  ...      43 2018-04-08
1           145 Rue Raymond Losserand     6  ...      24 2018-04-06
2    2 Avenue John Fitzgerald Kennedy     3  ...      14 2018-04-03
3              51 Rue EugÃ¨ne OudinÃ©     3  ...      37 2018-04-04
4  6 avenue de la Porte de Champerret     3  ...      23 2018-04-08

[5 rows x 17 columns]

In [ ]:
#changing values in car column
#
df['Cars']=df['Bluecar_counter']+df['Utilib_counter']+df['Utilib_1.4_counter']
df=df.rename(columns={'Cars':'Total_Cars'})
df.head(5)

                              Address  Total_Cars  ...  minute       Date
0                 2 Avenue de Suffren           0  ...      43 2018-04-08
1           145 Rue Raymond Losserand           6  ...      24 2018-04-06
2    2 Avenue John Fitzgerald Kennedy           5  ...      14 2018-04-03
3              51 Rue EugÃ¨ne OudinÃ©           4  ...      37 2018-04-04
4  6 avenue de la Porte de Champerret           3  ...      23 2018-04-08

[5 rows x 17 columns]

**2.3.Completeness**

In [ ]:
#checking for null values
#
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Total_Cars           5000 non-null   int64
 2   Bluecar_counter      5000 non-null   int64
 3   Utilib_counter       5000 non-null   int64
 4   Utilib_1.4_counter   5000 non-null   int64
 5   City                 5000 non-null   object
 6   Kind                 5000 non-null   object
 7   Postal_code          5000 non-null   int64
 8   Public_name          5000 non-null   object
 9   Rental_status        5000 non-null   object
 10  Slots                5000 non-null   int64
 11  Station_type         5000 non-null   object
 12  Status               5000 non-null   object
 13  Subscription_status  5000 non-null   object
 14  hour                 5000 non-null   int64
 15  minute               5000 non-null   int64
 16  Date                 5000 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(8), object(8)
memory usage: 664.2+ KB

**2.4.Consistency**

In [ ]:
#checking for duplicates
#
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
4995    False
4996    False
4997    False
4998    False
4999    False
Length: 5000, dtype: bool

In [ ]:
#dropping any duplicate records
#
df.drop_duplicates(inplace=True)
df

                                 Address  Total_Cars  ...  minute       Date
0                    2 Avenue de Suffren           0  ...      43 2018-04-08
1              145 Rue Raymond Losserand           6  ...      24 2018-04-06
2       2 Avenue John Fitzgerald Kennedy           5  ...      14 2018-04-03
3                 51 Rue EugÃ¨ne OudinÃ©           4  ...      37 2018-04-04
4     6 avenue de la Porte de Champerret           3  ...      23 2018-04-08
...                                  ...         ...  ...     ...        ...
4995                 8 avenue MÃ©nelotte           2  ...      26 2018-04-06
4996                   37 rue de Dantzig           4  ...      56 2018-04-04
4997                      142 rue du Bac           1  ...       1 2018-04-01
4998         2 avenue du Val de Fontenay           2  ...      27 2018-04-04
4999                 5 Rue Henry Brisson           4  ...       2 2018-04-08

[5000 rows x 17 columns]

**3.0.PRIORITY LISTS**

In [ ]:
#dropping any records that Kind
#of station is a centre
#
df=df[df.Kind != 'CENTRE']
df

                                 Address  Total_Cars  ...  minute       Date
0                    2 Avenue de Suffren           0  ...      43 2018-04-08
1              145 Rue Raymond Losserand           6  ...      24 2018-04-06
2       2 Avenue John Fitzgerald Kennedy           5  ...      14 2018-04-03
3                 51 Rue EugÃ¨ne OudinÃ©           4  ...      37 2018-04-04
4     6 avenue de la Porte de Champerret           3  ...      23 2018-04-08
...                                  ...         ...  ...     ...        ...
4995                 8 avenue MÃ©nelotte           2  ...      26 2018-04-06
4996                   37 rue de Dantzig           4  ...      56 2018-04-04
4997                      142 rue du Bac           1  ...       1 2018-04-01
4998         2 avenue du Val de Fontenay           2  ...      27 2018-04-04
4999                 5 Rue Henry Brisson           4  ...       2 2018-04-08

[5000 rows x 17 columns]

In [ ]:
#dropping records status of the
#station is not operational
#
df=df[df.Rental_status == 'operational']
df

                                 Address  Total_Cars  ...  minute       Date
0                    2 Avenue de Suffren           0  ...      43 2018-04-08
1              145 Rue Raymond Losserand           6  ...      24 2018-04-06
2       2 Avenue John Fitzgerald Kennedy           5  ...      14 2018-04-03
3                 51 Rue EugÃ¨ne OudinÃ©           4  ...      37 2018-04-04
4     6 avenue de la Porte de Champerret           3  ...      23 2018-04-08
...                                  ...         ...  ...     ...        ...
4995                 8 avenue MÃ©nelotte           2  ...      26 2018-04-06
4996                   37 rue de Dantzig           4  ...      56 2018-04-04
4997                      142 rue du Bac           1  ...       1 2018-04-01
4998         2 avenue du Val de Fontenay           2  ...      27 2018-04-04
4999                 5 Rue Henry Brisson           4  ...       2 2018-04-08

[4618 rows x 17 columns]

In [ ]:
#dropping records with subscription 
#status is future
df=df[df.Subscription_status != 'future']
df

                                 Address  Total_Cars  ...  minute       Date
0                    2 Avenue de Suffren           0  ...      43 2018-04-08
1              145 Rue Raymond Losserand           6  ...      24 2018-04-06
2       2 Avenue John Fitzgerald Kennedy           5  ...      14 2018-04-03
3                 51 Rue EugÃ¨ne OudinÃ©           4  ...      37 2018-04-04
4     6 avenue de la Porte de Champerret           3  ...      23 2018-04-08
...                                  ...         ...  ...     ...        ...
4995                 8 avenue MÃ©nelotte           2  ...      26 2018-04-06
4996                   37 rue de Dantzig           4  ...      56 2018-04-04
4997                      142 rue du Bac           1  ...       1 2018-04-01
4998         2 avenue du Val de Fontenay           2  ...      27 2018-04-04
4999                 5 Rue Henry Brisson           4  ...       2 2018-04-08

[4618 rows x 17 columns]

In [ ]:
#checking how many record
#in the data frame priority list
#
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4618 entries, 0 to 4999
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              4618 non-null   object
 1   Total_Cars           4618 non-null   int64
 2   Bluecar_counter      4618 non-null   int64
 3   Utilib_counter       4618 non-null   int64
 4   Utilib_1.4_counter   4618 non-null   int64
 5   City                 4618 non-null   object
 6   Kind                 4618 non-null   object
 7   Postal_code          4618 non-null   int64
 8   Public_name          4618 non-null   object
 9   Rental_status        4618 non-null   object
 10  Slots                4618 non-null   int64
 11  Station_type         4618 non-null   object
 12  Status               4618 non-null   object
 13  Subscription_status  4618 non-null   object
 14  hour                 4618 non-null   int64
 15  minute               4618 non-null   int64
 16  Date                 4618 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(8), object(8)
memory usage: 649.4+ KB

**4.0.DATA ANALYSIS**

In [ ]:
#most popular station
#
df["sum_of_resources"]=df['Bluecar_counter']+df['Utilib_counter']+df['Utilib_1.4_counter']
popular_station=pd.pivot_table(df,values=["sum_of_resources"],index=["Public_name"],aggfunc=np.sum)

popular_station.sort_values(by="sum_of_resources",ascending=False).head(2)

                                       sum_of_resources
Public_name
Paris/Porte de Montrouge/8                           50
Fontenay-aux-Roses/Robert Marchand/32                50

In [ ]:
#records in which car was picked
#in paris in april 2018
#
paris_renting=df[(df['City']=='Paris') & (df['Date']>='2018-04-01') &  (df['Date']<='2018-04-30')]
paris_renting

                                 Address  Total_Cars  ...  minute       Date
0                    2 Avenue de Suffren           0  ...      43 2018-04-08
1              145 Rue Raymond Losserand           6  ...      24 2018-04-06
3                 51 Rue EugÃ¨ne OudinÃ©           4  ...      37 2018-04-04
4     6 avenue de la Porte de Champerret           3  ...      23 2018-04-08
5                   8 Boulevard Voltaire           0  ...       2 2018-04-06
...                                  ...         ...  ...     ...        ...
4992                     3 avenue d'Ivry           0  ...       1 2018-04-09
4994                    15 rue de Rocroy           0  ...      49 2018-04-01
4996                   37 rue de Dantzig           4  ...      56 2018-04-04
4997                      142 rue du Bac           1  ...       1 2018-04-01
4999                 5 Rue Henry Brisson           4  ...       2 2018-04-08

[2629 rows x 17 columns]

In [ ]:
#creating pivot table to know
#hours for picking up blue cars
#
table1=pd.pivot_table(paris_renting,values=["Bluecar_counter","Utilib_counter","Utilib_1.4_counter"],index=['hour'],aggfunc=np.sum)
table1

      Bluecar_counter  Utilib_1.4_counter  Utilib_counter
hour
0                 206                  11               5
1                 207                  11               3
2                 221                   9               7
3                 242                  14               5
4                 209                  10               3
5                 235                  18               5
6                 260                  15              13
7                 225                  11               8
8                 234                  11              12
9                 250                  19               5
10                232                  18               7
11                201                  10              10
12                250                  12               5
13                207                  14               6
14                163                  13               8
15                218                  13               6
16                208                  13               4
17                187                  18               9
18                192                  10               8
19                193                  16               3
20                149                  11               4
21                268                  20               8
22                197                  15               3
23                191                  11               1

In [ ]:
#list for best hour
#for picking electic cars
#
sum=table1['Bluecar_counter']+table1['Utilib_counter']+table1['Utilib_1.4_counter']
table1['total_cars1']=sum
table1.sort_values(by='total_cars1',ascending=0).head(1)

      Bluecar_counter  Utilib_1.4_counter  Utilib_counter  total_cars1
hour
21                268                  20               8          296

In [ ]:
#list for best hour
#for picking electic cars
#
hour_returning=pd.pivot_table(df,values=['Slots'],index=['hour'],aggfunc=np.sum)
hour_returning.sort_values(by='Slots',ascending=False).head(1)

      Slots
hour
14      441

In [ ]:
#most popular postal code and station
#for blue cars
#
df.pivot_table(values=['Bluecar_counter'],index=['Postal_code','Public_name'],aggfunc=np.sum).sort_values(by='Bluecar_counter',ascending=False).head(1)

                                                   Bluecar_counter
Postal_code Public_name
92260       Fontenay-aux-Roses/Robert Marchand/32               50